<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AgOrderItemMapper">
    
    <resultMap type="AgOrderItem" id="AgOrderItemResult">
        <result property="orderItemId"    column="order_item_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="productPrice"    column="product_price"    />
        <result property="quantity"    column="quantity"    />
        <result property="subtotal"    column="subtotal"    />
    </resultMap>

    <sql id="selectAgOrderItemVo">
        select order_item_id, order_id, product_id, product_name, product_price, quantity, subtotal from ag_order_item
    </sql>

    <select id="selectAgOrderItemList" parameterType="AgOrderItem" resultMap="AgOrderItemResult">
        <include refid="selectAgOrderItemVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
        </where>
    </select>
    
    <select id="selectAgOrderItemById" parameterType="Long" resultMap="AgOrderItemResult">
        <include refid="selectAgOrderItemVo"/>
        where order_item_id = #{orderItemId}
    </select>
        
    <insert id="insertAgOrderItem" parameterType="AgOrderItem" useGeneratedKeys="true" keyProperty="orderItemId">
        insert into ag_order_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="productPrice != null">product_price,</if>
            <if test="quantity != null">quantity,</if>
            <if test="subtotal != null">subtotal,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="productPrice != null">#{productPrice},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="subtotal != null">#{subtotal},</if>
         </trim>
    </insert>

    <update id="updateAgOrderItem" parameterType="AgOrderItem">
        update ag_order_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="productPrice != null">product_price = #{productPrice},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="subtotal != null">subtotal = #{subtotal},</if>
        </trim>
        where order_item_id = #{orderItemId}
    </update>

    <delete id="deleteAgOrderItemById" parameterType="Long">
        delete from ag_order_item where order_item_id = #{orderItemId}
    </delete>

    <delete id="deleteAgOrderItemByIds" parameterType="String">
        delete from ag_order_item where order_item_id in 
        <foreach item="orderItemId" collection="array" open="(" separator="," close=")">
            #{orderItemId}
        </foreach>
    </delete>
    
    <delete id="deleteAgOrderItemByOrderIds" parameterType="String">
        delete from ag_order_item where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

    <insert id="batchAgOrderItem">
        insert into ag_order_item( order_item_id, order_id, product_id, product_name, product_price, quantity, subtotal) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.orderItemId}, #{item.orderId}, #{item.productId}, #{item.productName}, #{item.productPrice}, #{item.quantity}, #{item.subtotal})
        </foreach>
    </insert>
</mapper>
